@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/ui/components/avatar/avatar.css';

.img-avatar,
.state {
  position: initial !important;
}

.img-avatar {
  background: yellow;
  margin-bottom: 20px;
  margin-inline: auto;
}
